@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    font-family: Inter;
}
.header2 {
    margin-left: 3rem;
}
input::placeholder {
    opacity: 0.5;
}
.home-body{
    background-color: black;
}
.billboard-card{
    width: 80%;
}
.recommended-card{
    width: 30%;
}
.card{
    /* box-shadow: 0 30px 30px rgba(0, 0, 0, 0.1  ); */
}
.card-image{
    height: 8rem;
}
.sortBy{
    /* margin-left: 4rem; */
    top: 2.2rem;
    left: 3rem;
}
.backgroundImg{
    background: rgb(255, 255, 255);
        background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(231, 230, 230, 1) 100%);
}