@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    font-family: Inter;
}
.header2 {
    margin-left: 3rem;
}
input::placeholder {
    opacity: 0.5;
}
.home-body{
    background-color: black;
}
.filter{
    /* margin-left: 4rem; */
}
.billboard-card{
    width: 15rem;
}
.recommended-card{
    width: 20rem;
}