body {
    font-family: Inter;
}
.header2 {
    margin-left: 3rem;
}
input::placeholder {
    opacity: 0.5;
}

.billboard-card{
    width: 80%;
}
.recommended-card{
    width: 30%;
}
.card{
    /* box-shadow: 0 30px 30px rgba(0, 0, 0, 0.1  ); */
}
.card-image{
    height: 8rem;
}
.card-image2{
    height: 12rem;
    border-radius: 10%;
}
.sortBy{
    /* margin-left: 4rem; */
    top: 2.2rem;
    left: 3rem;
}
.backgroundImg{
    background: rgb(255, 255, 255);
        background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(231, 230, 230, 1) 100%);
}


/* .star {
  font-size: 100px;
} */


.star-golden {
    color: gold; /* Set the color for full and half stars */
  }
.star-gray {
    color: gray; /* Set the color for empty stars */
}

.dropdown{
    position: relative;
    width: fit-content;
}

.dropdown .dropdown-btn{
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    font-weight: bold;
    color: #333;
    cursor: pointer;

}

.dropdown .dropdown-content {
    position: absolute;
    top: 70%;
    left: 30%;
    width: 95%;
    padding: 15px;
    background: #fff;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);

}

.dropdown .dropdown-content .dropdown-item{
    padding: 5px;
    cursor: pointer;
    transition: all 0.2s;
}

.dropdown .dropdown-content .dropdown-item:hover{
    background: #869EA0;
} 

.cart-container {
    position: relative;
    display: inline-block;
  }
  
  .cart-icon {
    position: relative;
  }
  
  .item-count {
    position: absolute;
    top: -26px;
    right: 15px;
    /* background-color: red; */
    color: red;
    font-size: 20px;
    font-weight: bold;
    padding: 4px;
    /* border-radius: 50%; */
  }
  
